:root {
	--orange-color: #da722c;
	--blue-color: #057ada;
	--light-color: #e8f7fb;
	--dark-blue-color: #023047;
	--dark-color: #070917;
	--purple-color: #6f7dfb;

	--font-family: "Poppins", sans-serif;
	--second-family: "Raleway", sans-serif;
	--third-family: "Roboto", sans-serif;
}

/* rest */

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: var(--font-family);
}
.wrapper {
	width: 1134px;
	margin: 0 auto;
}
/* Custom Scroll bar */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--orange-color);
	border-radius: 70px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--dark-blue-color);
}

/* common */
ul {
	list-style: none;
}
a {
	text-decoration: none;
}

/* Buttons */

.btn {
	border-radius: 24px;
	padding: 16px 32px;
	width: 183px;
	height: 59px;
	background-color: var(--orange-color);
	color: var(--light-color);
	text-decoration: none;
	text-align: center;
}
.btn:hover {
	opacity: 0.9;
}
.btn-dark {
	background-color: var(--dark-blue-color);
}

.btn-square:hover {
	opacity: 0.9;
}
.btn-square {
	padding: 20px 31px;
	width: 310px;
	height: 100px;
	background: #000;
}
.btn-square p {
	color: #fff;
}
.mobile-btn {
	display: none;
}

/* header start */
.header {
	background: linear-gradient(180deg, #6f7dfb 0%, #26308c 100%);
	height: 100vh;
}

.nav-desktop {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 20px;
	width: 1000px;
	height: 59px;
	/* position: fixed; */
	z-index: 100;
}

.scrolled {
	background-color: var(--dark-blue-color);
	padding: 50px;
	border-radius: 0 0 24px 24px;
	position: fixed;
}
.hero-section .right-side img.scrolled-img {
	position: absolute;
	bottom: 0px;
	right: 0px;
}

.scrolled .menu-desktop .btn-dark {
	background-color: var(--orange-color);
	border: 1px solid var(--light-color);
}

.nav-desktop .logo {
	font-family: var(--second-family);
	font-weight: 900;
	font-size: 40px;
	color: var(--light-color);
	cursor: pointer;
}
.nav-desktop .menu-desktop ul {
	list-style: none;
	display: flex;
	gap: 60px;
}
.nav-desktop .menu-desktop ul li a {
	text-decoration: none;
	color: var(--light-color);
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 16px;
}
/* HERO SECTION  */
.hero-section {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	height: 100vh;
}
.hero-section .left-side {
	width: 457px;
}
.hero-section .left-side h2 {
	font-family: var(--second-family);
	font-weight: 900;
	font-size: 50px;
	color: var(--light-color);
}
.hero-section .left-side p {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 16px;
	color: var(--light-color);
	margin: 30px auto;
}
.enrol-btn::before {
	content: url(/img/enroll.svg);
}
.enrol-btn {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: row;
	gap: 10px;
}
.hero-section .right-side {
	align-self: flex-end;
	margin-bottom: 59px;
}
.hero-section .right-side img {
	width: 446px;
	height: 582px;
	vertical-align: middle;
}
/* achivement cards */
.achivement-cards {
	position: absolute;
	left: 42%;
	top: 50%;
	display: flex;
	flex-direction: column;
	gap: 100px;
}
.achivement-cards .info {
	border-radius: 24px;
	width: 206px;
	height: 90px;
	background: var(--light-color);
	position: relative;
	z-index: 2;
}
.achivement-cards .bg-shadow {
	background: linear-gradient(180deg, #6f7dfb 0%, #3b448f 100%);
	border-radius: 24px;
	width: 206px;
	height: 97px;
	position: absolute;
	z-index: 1;
	margin-top: -87px;
	margin-left: 7px;
}
.achivement-cards .overall-rating-card {
	margin-left: -34px;
}
.achivement-cards .overall-rating-card h2::after {
	content: url(/img/star.svg);
	padding-left: 10px;
}
.achivement-cards .info h2 {
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 36px;
	color: var(--dark-blue-color);
	text-align: center;
}
.achivement-cards .info p {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 16px;
	color: var(--dark-blue-color);
	text-align: center;
}

/* testimonial section */

.testimonial-section .wrapper {
	display: flex;
	justify-content: space-between;
	gap: 102px;
	padding-top: 100px;
	padding-bottom: 100px;
}

/* left side */
.testimonial-section .testimonial-card:last-child {
	margin-top: 50px;
}
.testimonial-card:last-child .testimonial {
	background-color: var(--orange-color);
}
.testimonial-card {
	border-radius: 24px;
	width: 442px;
	height: 222px;
	box-shadow: 0 9px 36px 0 rgba(0, 0, 0, 0.2);
	background: #fff;
}
.testimonial-card .testimonial {
	border-radius: 24px;
	padding: 24px 32px;
	width: 442px;
	height: 102px;
	background-color: var(--purple-color);
}

.testimonial-card .testimonial h3 {
	font-family: var(--second-family);
	font-weight: 900;
	font-size: 18px;
	color: var(--light-color);
}
.testimonial-card .info-card {
	padding: 0px 32px;
	width: 442px;
	height: 120px;
	position: relative;
}
.testimonial-card .info-card h3 {
	font-family: var(--second-family);
	font-weight: 900;
	font-size: 24px;
	color: var(--dark-blue-color);
}
.testimonial-card .info-card p {
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 18px;
	color: var(--dark-blue-color);
}
.testimonial-section .testimonial-card .info-card img {
	width: 120px;
	height: 120px;
	position: absolute;
	right: 32px;
	bottom: 12px;
}

/* right side */

.testimonial-section .right-side h2 {
	font-family: var(--second-family);
	font-weight: 900;
	font-size: 60px;
	color: var(--dark-blue-color);
	margin-bottom: 14px;
}
.testimonial-section .right-side p {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 16px;
	color: var(--dark-blue-color);
}
.testimonial-section .right-side .desktop-btn {
	display: flex;
	text-align: center;
	justify-content: center;
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 18px;
	color: #fff;
	margin-top: 30px;
}
/* course section */
.courses-section {
	background: linear-gradient(180deg, #6f7dfb 0%, #26308c 100%);
	height: 785px;
}
.courses-section .wrapper {
	padding-top: 70px;
	padding-bottom: 70px;
	position: relative;
}
.courses-section h2 {
	font-family: var(--second-family);
	font-weight: 900;
	font-size: 60px;
	text-align: center;
	color: var(--light-color);
	margin-bottom: 56px;
}
.courses-section .course-cards {
	display: flex;
	gap: 73px;
}
.courses-section .course-cards .left-card,
.courses-section .course-cards .right-card {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 30px;
	border-radius: 24px;
	padding: 0px 32px;
	width: 100%;
	height: 418px;
	background: var(--light-color);
	position: relative;
	cursor: pointer;
}
.course-cards .left-card img,
.course-cards .right-card img {
	margin-top: -4px;
	border-radius: 24px;
	width: 100%;
}
.course-cards .left-card .duration,
.course-cards .right-card .duration {
	display: flex;
	width: 72px;
	align-items: center;
	justify-content: center;
}
.course-cards .left-card .duration img,
.course-cards .right-card .duration img {
	width: 15px;
	margin: 0;
	margin-right: 2px;
}
.course-cards .left-card .info,
.course-cards .right-card .info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 16px;
}
.course-cards .left-card h3,
.course-cards .right-card h3 {
	font-family: var(--second-family);
	font-weight: 900;
	font-size: 30px;
	color: var(--dark-blue-color);
	width: 380px;
}
.course-cards .left-card p,
.course-cards .right-card p {
	font-family: var(--second-family);
	font-weight: 900;
	font-size: 16px;
	color: var(--dark-blue-color);
}
.course-cards .left-card::after,
.course-cards .right-card::after {
	content: "";
	border-radius: 24px;
	width: 462px;
	height: 8px;
	background: var(--dark-blue-color);
	position: absolute;
	bottom: 0px;
	z-index: 10;
}
.courses-section .wrapper a.btn {
	display: inline-block;
	margin-top: 40px;
	position: absolute;
	right: 0;
}

/* App section */
.app-section .wrapper {
	padding-top: 100px;
	padding-bottom: 100px;
}
.app-section .wrapper h2 {
	font-family: var(--second-family);
	font-weight: 900;
	font-size: 60px;
	text-align: center;
	color: var(--dark-blue-color);
	margin-bottom: 15px;
}
.app-section .wrapper p {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 16px;
	text-align: center;
	color: var(--dark-blue-color);
}
.app-section .wrapper .app-buttons {
	display: flex;
	justify-content: center;
	gap: 30px;
	margin-top: 45px;
}
.app-buttons .btn-square {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
	cursor: pointer;
}

.app-buttons .btn-square img {
	width: 60px;
}

.app-buttons .btn-square p {
	color: var(--light-color);
}

/* footer section */

.footer-section {
	background: var(--dark-color);
	width: 100%;
}
.footer-section .wrapper {
	padding-top: 70px;
	padding-bottom: 70px;
}
.footer-section .wrapper .links {
	display: grid;
	grid-template-columns: 1fr 1fr 2fr;
	gap: 132px;
}
.footer-section .wrapper .links .footer-col h3.footer-head {
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 18px;
	color: var(--orange-color);
}
.footer-section .wrapper .links .footer-col ul {
	padding-left: 23px;
}
.footer-section .wrapper .links .footer-col ul li {
	padding-top: 18px;
}
.footer-section .wrapper .links .footer-col ul li a {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 16px;
	color: var(--light-color);
	cursor: pointer;
}
.footer-section .wrapper .links .footer-col P {
	color: var(--light-color);
	margin: 15px auto;
	padding-left: 23px;
}
.footer-section .wrapper .links .footer-col .social-buttons {
	margin-bottom: 26px;
	display: flex;
	gap: 28px;
	padding-left: 23px;
}
.footer-section .wrapper .links .footer-col .social-buttons img {
	cursor: pointer;
}
.footer-section .wrapper .links .footer-col form {
	position: relative;
	padding-left: 23px;
}
.footer-section .wrapper .links .footer-col input {
	border-radius: 8px;
	width: 521px;
	height: 39px;
	padding: 0 32px;
	padding-right: 145px;
}
.footer-section .wrapper .links .footer-col input::placeholder {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 16px;
	color: #000;
	opacity: 0.5;
}
.footer-section .wrapper .links .footer-col button:hover {
	opacity: 0.95;
}

.footer-section .wrapper .links .footer-col button {
	border-radius: 8px;
	width: 135px;
	height: 30px;
	background: var(--dark-blue-color);
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 16px;
	color: #fff;
	position: absolute;
	right: 5px;
	top: 4px;
	cursor: pointer;
}
.footer-section p.copyright {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 16px;
	color: var(--light-color);
	margin-top: 32px;
}
.footer-section .wrapper .copyright a {
	color: var(--orange-color);
	cursor: pointer;
}
.menu-mobile {
	display: none;
}
.menu-m {
	display: none;
}
@media (max-width: 1133px) {
	.nav-desktop {
		width: 960px;
	}
	.wrapper {
		width: 680;
		margin: 0 auto;
	}

	.hero-section .left-side {
		padding-left: 20px;
	}
	.hero-section .right-side img {
		position: absolute;
		right: 155px;
		bottom: 59px;
	}
	.hero-section .right-side img.scrolled-img {
		right: 145px;
		bottom: 59px;
	}
	.achivement-cards {
		left: 28%;
		top: 62%;
	}
	.testimonial-section .right-side {
		width: 45%;
		margin-right: 150px;
	}

	.courses-section .course-cards {
		gap: 20px;
	}
	.courses-section .course-cards .left-card,
	.courses-section .course-cards .right-card {
		border-radius: 24px;
		padding: 0px 32px;
		width: 470px;
		height: 373px;
	}
	.course-cards .left-card .info,
	.course-cards .right-card .info {
		gap: 0px;
		z-index: 1;
		margin-top: -120px;
	}
	.course-cards .left-card .info h3,
	.course-cards .right-card .info h3 {
		width: 353px;
		margin-top: 20px;
	}
	.course-cards .left-card img,
	.course-cards .right-card img {
		align-self: center;
		margin-top: -3px;
		border-radius: 24px;
		width: 440px;
		height: 230px;
	}
	.course-cards .left-card::after,
	.course-cards .right-card::after {
		border-radius: 24px;
		width: 408px;
		height: 8px;
	}
	.courses-section .wrapper a.btn {
		right: 200px;
	}
	.footer-section .wrapper {
		width: 714px;
	}
	.footer-section .wrapper .links {
		grid-template-columns: 1fr 1fr;
		gap: unset;
	}
	.footer-section .wrapper .links .footer-col:last-child {
		grid-column: 1/3;
	}
	.footer-section .wrapper .links .footer-col button {
		border-radius: 8px;
		width: 135px;
		height: 30px;
		background: var(--dark-blue-color);
		font-family: var(--font-family);
		font-weight: 400;
		font-size: 16px;
		color: #fff;
		position: absolute;
		right: 175px;
		top: 5px;
	}
	.menu-mobile {
		display: none;
	}
	.menu-m {
		display: none;
	}
}
@media (max-width: 960px) {
	.wrapper {
		width: 714px;
		margin: 0 auto;
	}
	/* nav */
	.nav-desktop {
		padding-top: 20px;
		width: 714px;
		height: 59px;
		z-index: 100;
		justify-content: space-around;
	}

	.nav-desktop .menu-desktop ul {
		gap: 42px;
	}
	/* header */

	.hero-section {
		flex-direction: column;
		justify-content: center;
		height: 100vh;
	}
	.hero-section .left-side {
		width: 80%;
		padding-bottom: 200px;
	}
	.hero-section .right-side {
		width: 50%;
	}
	.hero-section .right-side img {
		width: 50%;
		position: absolute;
		bottom: 0px;
		left: 25%;
		bottom: 0px;
		left: 45%;
	}
	.hero-section .right-side img.scrolled-img {
		bottom: -59px;
	}
	/* achivement card */

	.achivement-cards {
		left: 15%;
		top: 60%;
		gap: 60px;
	}
	.achivement-cards .overall-rating-card {
		margin-left: 0px;
	}
	.achivement-cards .overall-rating-card h2::after {
		content: url(/img/star.svg);
		padding-left: 10px;
	}

	/* testimonial section */

	.testimonial-section .wrapper {
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	.testimonial-section .right-side .desktop-btn {
		display: none;
	}
	.testimonial-section .left-side {
		order: 2;
	}
	.testimonial-card {
		width: 634px;
		height: 195px;
		justify-content: flex-start;
	}
	.testimonial-card .testimonial {
		width: 634px;
		height: 75px;
	}
	.testimonial-card .info-card {
		width: 634px;
		height: 120px;
	}
	.testimonial-card .info-card h3 {
		margin-top: 25px;
	}

	.testimonial-section .testimonial-card .info-card img {
		bottom: 42px;
	}

	.testimonial-section .right-side {
		order: 1;
		padding-left: 5%;
		padding-right: 5%;
	}
	.testimonial-section .right-side h2 {
		font-size: 40px;
	}
	.mobile-btn {
		display: block;
		order: 3;
		align-self: flex-end;
		margin-right: 5%;
	}

	/* courses section */

	.courses-section {
		height: 100%;
	}
	.courses-section .wrapper {
		padding-bottom: 120px;
	}

	.courses-section .course-cards {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.courses-section .course-cards .left-card,
	.courses-section .course-cards .right-card {
		border-radius: 24px;
		padding: 0px 32px;
		width: 632px;
		height: 373px;
	}
	.course-cards .left-card .info,
	.course-cards .right-card .info {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 110px;
		z-index: 1;
		margin-top: -120px;
	}
	.course-cards .left-card img,
	.course-cards .right-card img {
		align-self: center;
		margin-top: -4px;
		border-radius: 24px;
		width: 568px;
		height: 260px;
	}
	.course-cards .left-card::after,
	.course-cards .right-card::after {
		border-radius: 24px;
		width: 568px;
		height: 8px;
	}
	/* footer section */
	.footer-section .wrapper .links {
		grid-template-columns: 1fr 1fr;
		gap: unset;
	}
	.footer-section .wrapper .links .footer-col:last-child {
		grid-column: 1/3;
		margin-top: 20px;
	}
	.menu-mobile {
		display: none;
	}
	.menu-m {
		display: none;
	}
}

/* mobile responsive */

@media (max-width: 670px) {
	.wrapper {
		width: 500px;
		margin: 0 auto;
	}
	/* nav */
	.nav-desktop {
		display: none;
	}
	.menu-mobile {
		padding: 60px 32px 60px 32px;
		display: flex;
		justify-content: space-between;
	}
	.menu-mobile .logo {
		font-family: var(--second-family);
		font-weight: 900;
		font-size: 36px;
		color: var(--light-color);
		cursor: pointer;
	}

	.menu-m {
		display: none;
	}
	.mobile-active {
		display: block;
		position: fixed;
		left: 0;
		right: 0;
		z-index: 101;
		width: 100vw;
		height: 100%;
		background-color: var(--dark-color);
		display: flex;
		align-items: center;
		justify-content: center;
		padding-top: 0px;
		margin-top: -60px;
	}
	.hamburger-icon {
		cursor: pointer;
	}
	#cross-btn {
		position: absolute;
		top: 55px;
		right: 35px;
		cursor: pointer;
	}
	/* .mobile-active::after {
		content: url(/img/menu-cross.svg);
		position: absolute;
		top: 60px;
		right: 32px;
	} */
	.menu-mobile ul li {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 40px auto;
	}
	.menu-mobile ul li a {
		font-family: var(--font-family);
		font-weight: 400;
		font-size: 24px;
		color: var(--light-color);
		cursor: pointer;
	}

	/* header */

	.hero-section {
		overflow: hidden;
	}
	.hero-section .left-side {
		width: 90%;
		padding-bottom: 350px;
	}
	.hero-section .left-side h2 {
		font-size: 36px;
	}
	.hero-section .left-side p {
		font-size: 16px;
	}
	.enrol-btn {
		width: 171px;
		height: 48px;
	}
	.hero-section .right-side {
		width: 50%;
	}
	.hero-section .right-side img {
		position: absolute;
		bottom: 162px;
		left: 55%;
		width: 306px;
		height: 399px;
	}
	/* achivement card */

	.achivement-cards {
		left: 17%;
		top: 49%;
		gap: 35px;
	}
	.achivement-cards .overall-rating-card {
		width: 160px;
		height: 75px;
	}

	/* testimonial section */

	.testimonial-section .right-side .desktop-btn {
		display: none;
	}

	.testimonial-card {
		width: 350px;
		height: 195px;
		justify-content: flex-start;
	}
	.testimonial-card .testimonial {
		width: 350px;
		height: 102px;
	}
	.testimonial-card .info-card {
		width: 350px;
		height: 97px;
	}
	.testimonial-card .info-card h3 {
		margin-top: 25px;
	}

	.testimonial-section .testimonial-card .info-card img {
		width: 100px;
		height: 100px;
	}

	.testimonial-section .right-side {
		padding-left: 10px;
		padding-right: 10px;
		margin: 0 auto;
		width: 95%;
	}
	.testimonial-section .right-side h2 {
		font-size: 30px;
	}
	.testimonial-section .right-side p {
		font-size: 16px;
	}
	.mobile-btn {
		border-radius: 24px;
		padding: 12px 32px;
		width: 155px;
		height: 48px;
		margin-right: 70px;
	}

	/* courses section */
	.courses-section h2 {
		font-size: 30px;
	}

	.courses-section .course-cards .left-card,
	.courses-section .course-cards .right-card {
		border-radius: 24px;
		padding: 0px 32px;
		width: 90%;
		height: 380px;
	}

	.course-cards .left-card img,
	.course-cards .right-card img {
		border-radius: 24px;
		width: 100%;
		height: 240px;
	}
	.course-cards .left-card .info,
	.course-cards .right-card .info {
		gap: 0px;
	}
	.course-cards .left-card .info h3,
	.course-cards .right-card .info h3 {
		width: 275px;
		margin-top: 35px;
	}
	.course-cards .left-card::after,
	.course-cards .right-card::after {
		border-radius: 24px;
		width: 349px;
		height: 8px;
	}
	.courses-section .wrapper a.btn {
		right: 40px;
	}
	/* app section */
	.app-section .wrapper h2 {
		font-size: 30px;
	}
	.app-section .wrapper p {
		font-size: 16px;
	}

	.app-section .wrapper .app-buttons {
		flex-direction: column;
		align-items: center;
	}
	/* footer section */
	.footer-section .wrapper {
		width: 500px;
		margin: 0 auto;
	}
	.footer-section .wrapper .links {
		grid-template-columns: 1fr;
		align-items: center;
	}
	.footer-section .wrapper .links .footer-col {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.footer-section .wrapper .links .footer-col:last-child {
		grid-column: 1/2;
		margin-top: 20px;
	}
	.footer-section .wrapper .links .footer-col ul {
		padding-left: 0px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.footer-section form {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.footer-section .wrapper .links .footer-col input {
		width: 100%;
	}
	.footer-section .wrapper .links .footer-col button {
		position: static;
		margin-top: 15px;
	}
	.footer-section .wrapper .copyright {
		text-align: center;
	}
}
